:root {
  /* TEXT COLORS */
  --heading-text-color: #2f281e;
  --white-text-color: #ffffff;
  --primary-text-color: #ff9900;
  --general-text-color: #544837;
  --placeholder-text-color: #bcd0e5;

  /* TEXT FONT SIZE */
  --main-text-size: 16px;
  --hero-heading-size: 44px;
  --hero-text-size: 18px;
  --section-heading-size: 36px;
  --list-title-size: 22px;
  --footer-block-title-size: 20px;

  /* BUTTONS BACKGROUND & BORDERS COLORS */
  --primary-bg-color: #ff9900;
  --white-bg-color: #ffffff;
  --border-color: #bcd0e5;
}

html {
  font-size: var(--main-text-size);
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: var(--main-text-size);
  font-weight: 500;
}

ul,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  font-weight: 700;

  width: 180px;
  height: 50px;
  background-color: var(--primary-bg-color);
  color: var(--white-text-color);
  border: none;
  border-radius: 4px;
  transition: all 0.1s ease-in;
}

button:hover {
  cursor: pointer;
  scale: 1.05;
}

.container {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}

/* ==============HEADER============ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
  margin-bottom: 70px;
}

.logo img {
  height: 32px;
  width: 200px;
}

.navigation__list {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.navigation__list li > a {
  color: var(--heading-text-color);
  font-weight: 400;
}

.navigation__list .active {
  color: var(--primary-text-color);
}

.header__btn-container {
  display: flex;
  gap: 32px;
}

.header__btn-container button {
  width: 110px;
  height: 46px;
  border-radius: 4px;
  font-weight: 600;
}

.header__btn-container button[class="sign-in"] {
  background-color: var(--white-bg-color);
  border: 1px solid var(--border-color);
  color: var(--heading-text-color);
}

/* ===================HERO SECTION========================= */
.hero {
  display: flex;
  /* justify-content: space-between; */
  gap: 56px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__content > h1 {
  font-size: var(--hero-heading-size);
  font-weight: 700;
  line-height: 1.2;
  color: var(--heading-text-color);
  margin-bottom: 30px;
}

.hero__content > p {
  font-size: var(--hero-text-size);
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 20px;
}

.hero__btn {
  width: 180px;
  height: 50px;
  background-color: var(--primary-bg-color);
  color: var(--white-text-color);
  border: none;
  border-radius: 4px;
}

.hero > img {
  width: 644px;
  height: 495px;
}

/* =================FEATURE SECTION================== */
.feature {
  margin-top: 100px;
  padding-bottom: 74px;
  margin-bottom: 104px;

  background-image: url(../images/bg.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.feature__title {
  text-align: center;
  font-size: var(--section-heading-size);
  font-weight: 700;
  margin-bottom: 50px;
}

.feature__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.feature__item {
  width: 270px;
}

.feature__item > img {
  margin-bottom: 30px;
}

.feature__item > h3 {
  font-size: var(--list-title-size);
  font-weight: 600;
  margin-bottom: 16px;
}

.feature__item > p {
  font-size: var(--main-text-size);
}

.feature__btn {
  display: block;
  margin: 0 auto;
}

/* ====================FOOTER================== */
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  padding-bottom: 70px;
}

.footer > img {
  width: 200px;
  height: 32px;
}

.list-wrapper h2,
.form-wrapper > h2 {
  font-size: var(--footer-block-title-size);
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.5;
}

.footer__list > li:not(:last-child) {
  margin-bottom: 15px;
}

.footer__list > li > a {
  color: var(--general-text-color);
}

.form-wrapper {
  width: 340px;
}

.form-wrapper .form-wrapper__title {
  margin-bottom: 25px;
}

.form-input {
  width: 340px;
  height: 50px;
  font-size: var(--main-text-size);

  border: 1px solid var(--border-color);
  border-radius: 4px;

  padding-left: 10px;
  margin-bottom: 25px;
}

.form-input::placeholder {
  font-size: var(--main-text-size);
  color: var(--placeholder-text-color);
}

.form-input:focus {
  outline: none;
}
